{% extends 'layout.html' %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="content d-flex justify-content-center">
        <div class="row">
            <div sm="auto" class="row d-flex flex-column justify-content-center">
                <h3>Available IdPs</h3>
                <table>
                    <thead>
                    <tr>
                        <th>Display name</th>
                        <th>Description</th>
                        <th>Information URL</th>
                        <th>Privacy statement URL</th>
                        <th>Logo URL</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for authentication_document in authentication_documents %}
                        <tr>
                            <td>
                                {{ authentication_document.display_name }}
                            </td>
                            <td>
                                {{ authentication_document.description }}
                            </td>
                            <td>
                                {{ authentication_document.information_url }}
                            </td>
                            <td>
                                {{ authentication_document.privacy_statement_url }}
                            </td>
                            <td>
                                {{ authentication_document.logo_url }}
                            </td>
                            <td>
                                <a class="btn btn-primary"
                                   href="{{ url_for('auth.login', link=authentication_document.href) }}">
                                    Authenticate
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}